/* Global Styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #00021a;
}

header{
    display: flex;
    justify-content: center;
}
/* Navbar */
.navbar {
    max-width: 1800px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    color: #fff;
}

.navbar .logo a {
    color: #fefeff;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 1.5rem;
}

.nav-links li a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.nav-links li a:hover {
    color: #00a2ff;
}

.hamburger {
    display: none;
    flex-direction: column;
    gap: 0.3rem;
    cursor: pointer;
}

.hamburger span {
    width: 25px;
    height: 3px;
    background: #fff;
}

/* Hero Section */
.hero {
    height: 80vh;
    /*background: url('https://placehold.co/1920x1080') center/cover no-repeat;*/
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 1rem;
}

.hero-content {
    max-width: 1200px;
    text-align: start;
    margin-right: 100px;
    justify-content: space-around;
    padding: 50px;
}
.hero-container {
    padding: 30px;
}
.hero h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
}

.hero .btn-primary {
    padding: 0.8rem 1.5rem;
    background: #00aeff;
    color: #fff;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1rem;
    transition: background 0.3s ease;
}
.hero .btn-second {
    padding: 0.8rem 1.5rem;
    color: #0c0079;
    border: 2px #0c0079 solid;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1rem;
    transition: background 0.3s ease;
}
.hero .btn-primary:hover {
    background: #0c0079;
}
.hero .btn-second:hover {
    border: 2px #00aeff solid;
    color: #00aeff;
}
/* About Section */
#about {
    display: flex;
    padding: 2rem 1rem;
    text-align: start;
    align-items: center;
    justify-content:space-around;
    background: #00021a  ;
}

.container{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    width: 90%;
    
    padding: 50px;
    border-radius: 30px;
    text-align: center;
    align-items: center;
    justify-content: space-between;
}
.container-text{
    width: 600px;
}
.container-img{
    flex-wrap: wrap;
    display: flex;
}
#about h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color:#0c0079
}

#about p {
    font-size: 1rem;
    color: #333;
}


/* Footer */
footer {
    text-align: center;
    padding: 1rem;
    background: #333;
    color: #fff;
}
