* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Montserrat", serif;
}

body {
    color: #fff;
    background: rgb(0,0,0);
    
}

.about .container {
    display: flex;
    margin-bottom: 20px;
    align-items: center;
    width: 1200px;
    margin: 0 auto;
    transition: 1s;
    position: relative;
}

.about-content::before {
    content: ''; /* Mostra o texto 'oi' */
    display: block;
    background-color: #ff0000;
    width: 150px; /* Largura do pseudo-elemento */
    height: 80px; /* Altura do pseudo-elemento */
    transform: rotate(20deg);
    top: 50%; /* Ajusta verticalmente */
    left: 50%; /* Ajusta horizontalmente */
    transform: translate(-50%, -50%); /* Centraliza no pai */
    position: absolute;
    z-index: -1; /* Coloca atrás do conteúdo do pai */
}

.about{
    background-image: url("https://i.postimg.cc/8cX741tx/teste.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 860px;
}
.about-content {
    position: relative; /* Necessário para o ::before funcionar */
    text-align: initial;
    margin-top: 100px;
    font-size: 30px;
    max-width: 600px;
    justify-content: initial;
}
.about-content img{
    display: none;
}


.about-content h2::after {
    content:" ";
    width:200px;
    height:3px;
    display: block;
    background:#ff0000;
}

.about-content p {
    text-shadow: 0px 0px 100px rgb(255, 0, 0)
}

.about img{
    background-color: #fff;
    height: 600px;
}
.content-bt{
    display: flex;
    width: 1200px;
    margin: 0 auto;
}
.container-btn {
    padding-top: 50px;
    display: flex;
    width: 1200px;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 3px solid red;
    border-radius: 15px;
    width: 200px;
    height: 50px;
    padding: 10px;
    
}

.btn:hover{
    transition: 2s;
    box-shadow: 0px 0px 15px  rgb(255, 0, 0), inset 0px 0px  16px rgba(255, 0, 0, 0.75); ;

}

.container-btn a{
    text-decoration: none;
    padding: 20px;
    color: #fff;
    border-radius: 10px;
    font-size: 30px;
    
}

.socials a{
    align-items: center;
    text-align: center;
    justify-content: center;
}

.socials{
    padding: 8px;
    color: rgb(255,0,0) ;
}

/* final do about aquiiii*/

.container-habilidades {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 40px;
    position: relative;
    padding: 50px;
}

.container-habilidades h1 {
    
    background: #ff0000;
}


.content-habilidades{
    flex-wrap: wrap;
    padding: 10px;
    display: flex;
    justify-items: center;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    font-size: 20px;
}

.portfolio-item {
    margin-top: 20px;
    padding: 10px;
    display: block;
    width: 200px;
    height: 200px;
    justify-content: center;
    justify-items: center;
    flex-direction: column;
}

.portfolio-item img {
    border-radius: 50%;
    box-shadow: 0px 0px 50px  red;
}

/* fim habilidades */

.contact{
    background-color: #1b0000;

}

.container-contact{
    padding: 60px;
    text-align: center;
    width: 1200px;
    display: flex;
    flex-direction: column;
}

.contact form{
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.contact input,textarea{
    width: 300px ;
    padding: 30px;
    margin: 20px;
    border: none;
    border-radius: 20px;
}

/* fim contacto*/

footer{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    margin: 0 auto;
}

@media (max-width: 768px) {
    
}

